body {

    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    background: #808080;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3fada8, #808080);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3fada8, #808080);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inputs {
    padding: 4.5% 4.5% 0 4.5%;
}

.message {
    padding-left: 4.5%;
}

.cubierta {
    width: 70%;
    padding: 10px 10px 0 10px;
    border: 1px solid maroon;
    border-radius: 10px;
}

#plantilla.table tbody tr td:nth-child(5){
    width: 200px;
}

